<!doctype html5>
<html>
  <link rel="stylesheet" href="/static/css/index.css" type="text/css" />
  <script src="/static/js/jquery-1.11.0.js"></script> 
  <script src="/static/js/index.js"></script> 
  <script>
  </script>
  <body>
    <header class="banner"><h1>HTML5 Photos</h1></header>
    <section class="entry">
      <input type="file" accept="image/*;capture=camera"> 
      <div class="latest">
        <div class="menu-save">
          <span class="command">save</span>
        </div>
        <img />
      </div>
    </section>
  </body> 
</html> 