{% extends "base.html" %}

{% block body %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/cans.jpg" alt="">
                    <div class="pic-box-text" style="margin-bottom: 12px;">
                        <span class="usual-price">S$5 </span>
                        <span class="offer-price">S$2 </span>
                        <span class="doe">2 more days </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/beer.jpg" alt="">
                    <div class="pic-box-text" style="margin-bottom: 12px;">
                        <span class="usual-price">S$4 </span>
                        <span class="offer-price">S$1 </span>
                        <span class="doe">1 more days </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/apples.jpg" alt="">
                    <div class="pic-box-text" style="margin-bottom: 12px;">
                        <span class="usual-price">S$3 </span>
                        <span class="offer-price">S$1 </span>
                        <span class="doe">2 more days </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/chicken.jpg" alt="">
                    <div class="pic-box-text" style="margin-bottom: 12px;">
                        <span class="usual-price">S$8 </span>
                        <span class="offer-price">S$3 </span>
                        <span class="doe">1 more days </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/vege.jpg" alt="">
                    <div class="pic-box-text" style="margin-bottom: 12px;">
                        <span class="usual-price">S$3 </span>
                        <span class="offer-price">S$0.5 </span>
                        <span class="doe">2 more days </span>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

