{% extends "base.html" %}
{% block body %}
<div class="container signature" style="margin-top:40px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text">
                <span class="name">Add Products </span>
                <hr class="star-light">
            </div>
            <input type="file" id="productimg" name="productimg">
        </div>

        <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
            <div class="form-group floating-label-form-group controls">
                <label>Name of the product</label>
                <input type="text" class="form-control" placeholder="Name of the product" id="productname" required data-validation-required-message="Name of the product">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group floating-label-form-group controls">
                <label>Choose a category</label>
                <input type="text" class="form-control" placeholder="Choose a category" id="category" required data-validation-required-message="Choose a category" style=":-webkit-input-placeholder { color: white; }">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group floating-label-form-group controls">
                <label>Offer Price</label>
                <input type="number" class="form-control" placeholder="Offer Price" id="offerprice" required data-validation-required-message="Offer Price">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group floating-label-form-group controls">
                <label>Usual Price</label>
                <input type="number" class="form-control" placeholder="Usual Price" id="usualprice" required data-validation-required-message="Usual Price">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group floating-label-form-group controls">
                <label>Date of Expiry</label>
                <input type="date" class="form-control" placeholder="Date of Expiry" id="doe" required data-validation-required-message="Date of Expiry">
                <p class="help-block text-danger"></p>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Be Awesome, give free food to <a href="http://www.foodbank.sg/" style="color:#FFFFFF;text-decoration:underline;">FoodBank</a> <i class="fa fa-smile-o"></i>
                </label>
            </div>
        </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" id="b-success" class="btn btn-lg btn-outline">
                Submit  
            </a>
        </div>
    </div>
</div>
{% endblock %}